---
http_interactions:
- request:
    method: get
    uri: http://thor.brightcloud.com/rest/uris/perch.co?oauth_consumer_key=<BRIGHTCLOUD_KEY>&oauth_nonce=vSVXeQgnRd4zf4EAD1GGSL8b2UaEeDO1DW0bWrbD8&oauth_signature=iTjO7fquDJ%2BDyAUESiP3G71Pyu0=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1397334498&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: "<?BrightCloud version=bcap/1.1?><bcap><response><status>200</status><statusmsg>OK</statusmsg><uri>perch.co</uri><categories><cat><catid>26</catid><conf>100</conf></cat><cat><catid>22</catid><conf>100</conf></cat></categories><bcri>50</bcri><a1cat>0</a1cat></response></bcap>"
  recorded_at: Sat, 12 Apr 2014 20:28:18 GMT
- request:
    method: get
    uri: http://thor.brightcloud.com/rest/uris/categories?oauth_consumer_key=<BRIGHTCLOUD_KEY>&oauth_nonce=JDq1AelBOunTyV9jtMdE24nEpd2YdKM1CtQpvcUz6g&oauth_signature=j0zythSszETsgEh2/uPb4wCzWPA=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1397334498&oauth_version=1.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
    body:
      encoding: UTF-8
      string: "<?BrightCloud version=bcap/1.1?><bcap><response><status>200</status><statusmsg>OK</statusmsg><categories><cat><catid>1</catid><catname>Real
        Estate</catname><catgroup>Productivity</catgroup></cat><cat><catid>2</catid><catname>Computer
        and Internet Security</catname><catgroup>Productivity</catgroup></cat><cat><catid>3</catid><catname>Financial
        Services</catname><catgroup>Productivity</catgroup></cat><cat><catid>4</catid><catname>Business
        and Economy</catname><catgroup>Productivity</catgroup></cat><cat><catid>5</catid><catname>Computer
        and Internet Info</catname><catgroup>Productivity</catgroup></cat><cat><catid>6</catid><catname[...]
